# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Password protect files
AuthName "Restricted area. Admin only."
AuthType Basic
AuthUserFile "C:\Wampserver64\www\comparOperator\admin\.htpasswd"
Require valid-user